.ratingElements {
  padding: 11px;
  display: flex;
  justify-content: space-between;
}
.ratingElements span {
  cursor: pointer;
  padding: 16px 20px;
  background-color: hsl(214, 13%, 24%);
  color: #adadad;
  font-weight: 600;
  border-radius: 50%;
}
.ratingElements span:hover,
.ratingElements span:active {
  background-color: hsl(25, 97%, 53%);
  color: #fff;
}
